$body-bg: #f0f0f0;
$theme-colors: (
    "reddish": #b40e0e,
    "seablue": #1d1b85
);
$enable-rounded: false;

@import "~bootstrap/scss/bootstrap.scss";
@import "~typeface-roboto-condensed/index.css";
@import "~typeface-raleway/index.css";

body {
    font-family: "Roboto Condensed", $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", $font-family-sans-serif;
}

.btn {
    border-width: 2px;

    &.rounded-1 {
        border-radius: 2px;
    }

    &.rounded-2 {
        border-radius: 5px;
    }

    &.rounded-3 {
        border-radius: 8px;
    }

    &.size-1 {
        padding: 0.25rem 0.5rem;
    }

    &.size-2 {
        padding: 0.5rem 1rem;
    }

    &.size-3 {
        padding: 0.625rem 1.25rem;
    }
}